@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white; /* Changed from #220E0E */
  @apply h-full overflow-x-hidden;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

.h-500px {
  height: 500px;
}

/* Add gradient border utilities */
.gradient-border {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #ff9901, #ff7801);
}

.orange-gradient-bg {
  background: linear-gradient(to right, #ff9901, #ff7801);
}